
$main_font: "Montserrat", sans-serif;
$second_font: "Open sans", sans-serif;


$main_backgroundColor: #FFFFFF;
$main_color: #1C2A39;
$main_grey_backcolor: #EFEEF6;
$main_violet_backcolor: #9E98DC;
$inTheCartIndex_backcolor: #FF353A;
$promo_2_backcolor: #FF8FE6;
$button_violet_color: #4C3DB2;
$button_darkgrey_color: #5C6A79;
$button_lightgrey_color: #EEEDF5;






